body {
  margin: 0;
  padding: 0;
  background-image: url('../images/JaneStreetBackground.png');
  font-family: 'Roboto', sans-serif;
}
/*best blue - #0048ab
best red - #F44336*/

header {
  /*background-color: #0048ab;*/

  /*background-color: rgba(0,0,0,.5);*/

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  webkit-filter: blur(3px);
  filter: blur(3px);
  transform: scale(1.05);
  height: 400px;
}
.header-wrapper {
  overflow: hidden;
}

h1, h2 {
  margin: 0;
  padding: 0;
}
h1 {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -50%);
  /*padding-top: 150px;*/
  font-size: 3em;
  font-weight: lighter;
  text-align: center;
  color: white;
}
h1.aboutMe {
  top: 25%;
}
span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: left;
  font-weight: lighter;
  top: 45%;
  max-width: 75%;
  font-size: 30px;
  color: white;
}
@media screen and (max-width: 1000px) {
  h1.aboutMe {
    top: 20%;
  }
  span {
    top: 33%;
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  h1.aboutMe {
    top: 15%;
  }
  span {
    top: 28%;
    font-size: 20px;
  }
}

section {
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  background-color: white;
  height: 350px;
}

div.content {
  color: #333;
  /*background-color: blue;*/
  padding-top: 40px;
  margin-left: 40px;
}
@media screen and (max-width: 750px) {
  section {
    height: auto;
    padding-bottom: 30px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  div.content {
    margin-left: 20px;
    margin-right: 20px;
  }
}
section h2 {
  font-size: 1.3em;
  font-weight: bold;
}

section p {
  line-height: 1.5em;
  font-weight: lighter;
  font-size: 15px;
}

@media screen and (max-width: 1050px) {
  section p {
    font-size: 12px;
  }
}

.image {
  width: 350px;
  box-sizing: border-box;
  border: 10px solid white;
  background-color: white;
  background-position: center;
  height: 350px; /*min-height: 350px;*/
  background-repeat: no-repeat;
  background-size: contain;

  /*border: 1px solid black;*/
}
.right {
  float: right;
  margin-left: 20px;
}
.left {
  float: left;
}

@media screen and (max-width: 875px) {
  .image {
    width: 250px;
  }
}
@media screen and (max-width: 750px) {
  /*section p {
    color: red;
  }*/
  .image {
    /*background-image: none !important;*/
    /*border: none;*/
    margin-left: 0;
    width: 80vw;
    height: 80vw;
    display: block;
  }
  .right {float: none}
  .left {float: none}
}

footer {
  margin-top: 60px;
}
